@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Cairo:wght@200..1000&display=swap');

@import "tailwindcss";

@theme{
  --font-sans: 'Inter', 'Cairo', "sans-serif";

  --color-primary-50:  #FFF9E1;
  --color-primary-100: #FFF2B8;
  --color-primary-200: #FFE98A;
  --color-primary-300: #FFDF5C;
  --color-primary-400: #FFD633;
  --color-primary-500: #F6BE00;
  --color-primary-600: #D9A700;
  --color-primary-700: #B38A00;
  --color-primary-800: #8C6C00;
  --color-primary-900: #665000;

}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}